<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="1 minute">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-DOWNLOAD" class="ch.qos.logback.core.FileAppender">
        <file>data/easy-download.log</file>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-STATISTICS" class="ch.qos.logback.core.FileAppender">
        <file>data/easy-statistics.log</file>
        <encoder>
            <pattern>%date{ISO8601} %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="nl.knaw.dans.easy" level="trace">
        <appender-ref ref="FILE-DOWNLOAD" />
    </logger>
    <logger name="easy-statistics" level="trace">
        <appender-ref ref="FILE-STATISTICS" />
    </logger>
</configuration>
